name: Portfolio Deployment

on: 
  push:
    branches:
      - main
 jobs:
   deploy:
     runs-on: ubuntu-latest
     steps:
     - name: Checkout
       uses: actions/checkout@1

     - name: Configure AWS Credentials  
       uses: aws-actions/configure-aws-credentials@v1
       with: 
         aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
         aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY}}
         aws-region: Asia Pacific (Hyderabad) ap-south-2

     - name: Deploy static site to S3 bucket
       run: aws s3 sync . s3://my-potfolio-14-25 --delete
